<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MWD_Template_Creator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MWD_Template_Creator.Properties.Settings>
            <setting name="JobNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="Client" serializeAs="String">
                <value />
            </setting>
            <setting name="WellName" serializeAs="String">
                <value />
            </setting>
            <setting name="Rig" serializeAs="String">
                <value />
            </setting>
            <setting name="ACFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SurveyFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetInc" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetAzm" serializeAs="String">
                <value />
            </setting>
            <setting name="ROPRotating" serializeAs="String">
                <value />
            </setting>
            <setting name="SVProjections" serializeAs="String">
                <value />
            </setting>
            <setting name="PlanNorthZeroReference" serializeAs="String">
                <value />
            </setting>
            <setting name="PlanEastZeroReference" serializeAs="String">
                <value />
            </setting>
            <setting name="WithoutAC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualOrientation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="LateralTargetLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LateralTargetLineVS" serializeAs="String">
                <value />
            </setting>
            <setting name="LateralTargetLineTVD" serializeAs="String">
                <value />
            </setting>
            <setting name="LateralTargetLineInc" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientList" serializeAs="String">
                <value />
            </setting>
            <setting name="MailFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="MailFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RPM" serializeAs="String">
                <value />
            </setting>
            <setting name="FlowRate" serializeAs="String">
                <value />
            </setting>
            <setting name="WOB" serializeAs="String">
                <value />
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value />
            </setting>
            <setting name="Diff" serializeAs="String">
                <value />
            </setting>
            <setting name="SPP" serializeAs="String">
                <value />
            </setting>
            <setting name="CasingProjection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="County" serializeAs="String">
                <value />
            </setting>
            <setting name="PlanNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="Activity" serializeAs="String">
                <value />
            </setting>
            <setting name="ROPSliding" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBottomLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MWDSurveyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DLSNeeded" serializeAs="String">
                <value />
            </setting>
            <setting name="RotaryTorque" serializeAs="String">
                <value />
            </setting>
            <setting name="RPG" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="SlideSeen" serializeAs="String">
                <value />
            </setting>
            <setting name="RotateWeight" serializeAs="String">
                <value />
            </setting>
            <setting name="SlackOff" serializeAs="String">
                <value />
            </setting>
            <setting name="PickUp" serializeAs="String">
                <value />
            </setting>
            <setting name="CMTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="BitAboveBelow" serializeAs="String">
                <value />
            </setting>
            <setting name="BitRightLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="ACThreshold" serializeAs="String">
                <value />
            </setting>
            <setting name="SurveyCourseLength" serializeAs="String">
                <value />
            </setting>
            <setting name="SlideAhead" serializeAs="String">
                <value />
            </setting>
            <setting name="Comments" serializeAs="String">
                <value />
            </setting>
            <setting name="CommentsIncluded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThirdParty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePlanZeroReference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CCRecipientList" serializeAs="String">
                <value />
            </setting>
            <setting name="TFMode" serializeAs="String">
                <value />
            </setting>
            <setting name="SurveyAboveBelow" serializeAs="String">
                <value />
            </setting>
            <setting name="SurveyRightLeft" serializeAs="String">
                <value />
            </setting>
            <setting name="SlideTF" serializeAs="String">
                <value />
            </setting>
            <setting name="DaySignature" serializeAs="String">
                <value />
            </setting>
            <setting name="SigToUse" serializeAs="String">
                <value />
            </setting>
            <setting name="NightSignature" serializeAs="String">
                <value />
            </setting>
            <setting name="MudWeight" serializeAs="String">
                <value />
            </setting>
            <setting name="ECD" serializeAs="String">
                <value />
            </setting>
            <setting name="ESD" serializeAs="String">
                <value />
            </setting>
        </MWD_Template_Creator.Properties.Settings>
    </userSettings>
</configuration>